<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon192.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>

    {% block content %}
    {% endblock %}
    
  <script>
    document.getElementById('make-move').addEventListener('click', () => {
      fetch('/get_next_move').then(response => {
        return response.json()
      }).then(move => {
        const d = document.createElement('div')
        d.innerHTML = move.message
        document.getElementById('moves').append(d)
      })
    })
  </script>
  </body>
</html>