<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon192.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>

    {% block content %}
    {% endblock %}
    
  <script>
    var makeMove = () => {
      fetch('/get_next_move').then(response => {
        return response.json()
      }).then(move => {
        const d = document.createElement('div')
        if (!move.message && move.state) {
          d.innerHTML = move.state + '!'
          document.getElementById('moves').append(d)
        } else {
          d.innerHTML = move.message
          document.getElementById('moves').append(d)
        }
      })
    }
    
    var isCmdSPressed = function(event) {
    // only detected via the 'keydown' event
    return event.keyCode == 83 
        && (navigator.platform.match("Mac") ? event.metaKey : event.ctrlKey);
    }
    
    document.getElementById('make-move').addEventListener('click', makeMove)
    document.addEventListener("keydown", function(e) {
        if (isCmdSPressed(e)) {
          console.log("Hey!");
            e.preventDefault();
            makeMove();
        }
    }, false)
    
  </script>
  </body>
</html>