{% macro grid_pattern(grid, classname, small) -%}
  <div class="grid {% if small %} grid-small {% endif %} {{classname}}">
    {% for row in grid %}
    <div class="grid-row">
      {% for cell in row %}
      <div class="grid-cell 
        {% if cell == None %} white 
        {% elif cell['color'] == 'r' %} red 
        {% else %} black 
        {% endif %}
        
        {% if cell %}
          {% if cell['edges'][0] == '1' %} up {% endif %}
          {% if cell['edges'][1] == '1' %} left {% endif %}
          {% if cell['edges'][2] == '1' %} down {% endif %}
          {% if cell['edges'][3] == '1' %} right {% endif %}
        {% endif %}
        "> 
        {% if not small %}
          {% if cell.rel_coord is defined %}
            {{ cell['rel_coord'] }}
          {% else %}
            {{ cell['coord'] }}
          {% endif %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
{%- endmacro %}

{% macro grid_subtraction(old_grid, new_grid, small, classname) -%}
  <div class="grid {% if small %} grid-small {% endif %} {{classname}}">
    {% for row in old_grid %}
    {% set outer_loop = loop %}
    <div class="grid-row">
      {% for cell in row %}
      {% set eaten_up = new_grid[outer_loop.index - 1][loop.index - 1] == None %}
      <div class="grid-cell 
        {% if cell == None %} white 
        {% elif cell['color'] == 'r' %} {% if eaten_up %} light_red {% else %} red {% endif %} 
        {% else %} {% if eaten_up %} grey {% else %} black {% endif %}  
        {% endif %}
        
        {% if cell %}
          {% if cell['edges'][0] == '1' %} up {% endif %}
          {% if cell['edges'][1] == '1' %} left {% endif %}
          {% if cell['edges'][2] == '1' %} down {% endif %}
          {% if cell['edges'][3] == '1' %} right {% endif %}
        {% endif %}
        "> 
        {% if not small %}
          {% if cell.rel_coord is defined %}
            {{ cell['rel_coord'] }}
          {% else %}
            {{ cell['coord'] }}
          {% endif %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
{%- endmacro %}

{% macro piece_pattern(piece, orient, small) -%}
  {{ grid_pattern(get_piece(piece, orient)['grid'], 'piece', small) }}
{%- endmacro %}

{% macro piece_info(piece) -%}
  <div>
    piece
  </div>
{%- endmacro %}

{% macro score_data(scores) -%}
  <div>
  {{ scores.match_c }} {{ ' | ' }} {{ scores.win_c }} {{ ' | ' }} {{ scores.piece_c }} {{ ' + ' }} {{ scores.deviation }} {{ ' + ' }} {{ scores.span }} {{ ' = ' }} {{ scores.total }}
  </div>
{%- endmacro %}

{% macro move(coord, piece, orient, hole_id, scores, old_grid, new_grid, state, open_edges) -%}
  <div class="move flex">
    
    {# coord, hole_id are implicitly shown in grid_subtraction hence not printed #}
    {{ grid_subtraction(old_grid, new_grid, False, 'piece') }}
    
    {{ piece_pattern(piece, orient) }}
    {{ score_data(scores) }}
  </div>
{%- endmacro %}

{% macro move_data(coord, piece, orient, hole_id, scores, old_grid, new_grid, possible_moves) -%}
  <div>
    {{ move(coord, piece, orient, hole_id) }}
    {% for move in possible_moves %}
        {{ move }}
    {% endfor %}
  </div>
{%- endmacro %}

