{% extends "base.html" %}

{% from 'components.html' import grid_pattern %}

{% block content %}
  
  
  <div class="intro flex">
    <div>
      <h3>Board</h3>
      {{ grid_pattern(raw_board, 'board', False, False, False, False) }}
    </div>
    
    <div>
      <h3>Pieces</h3>
      <div class="">
        
        {% for size in pieces_map %}
          <div class="piece-size">
            {% for dev in pieces_map[size] %}
          
              <div class="flex">
              {% for piece in pieces_map[size][dev] %}
                {{ grid_pattern(get_piece(piece, 0)['grid'], 'piece', False, False, False, False) }}
              {% endfor %}
              </div>
          
            {% endfor %}
        
          </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
  
  {{ grid_pattern(data.grid, 'board') }}
  
  <h3>Data</h3>
  <div class="data">
    Red: {{ data.red_count }}
    Black: {{ data.black_count }}
    Total: {{ data.total_count }}
  </div>
  
  <h3>Pattern Broken Parts, smallest first</h3>
  <div class="holes flex">
  {% for hole in holes %}
    <div>
    {{ grid_pattern(hole.grid, 'piece') }}
    
    {{ hole.size }} {{ hole.edge_count }} {{ hole.edge_density }} {{ hole.density }}
    </div>
  {% endfor %}
  </div>
  <p>-------</p>
  
  <h3>Moves</h3>
  <button id="make-move">Make Move</button>
  <div id="moves"></div>
  
  
  
{% endblock %}

