{% extends "base.html" %}

{% from 'components.html' import grid_pattern %}

{% block content %}
  <h3>Board</h3>
  {{ grid_pattern(raw_board, 'board', False, False, False, False) }}
  
  <div class="flex">
  {{ grid_pattern(data.grid, 'board') }}
    
    <div>
    <h3>Pieces</h3>
    <div class="flex">
      
      {% for piece_set in piece_sets %}
        {{ grid_pattern(piece_set[0].grid, 'piece', False, False, False, False) }}
      {% endfor %}
    </div>
    </div>
  </div>
  
  <h3>Data</h3>
  <div class="data">
    Red: {{ data.red_count }}
    Black: {{ data.black_count }}
    Total: {{ data.total_count }}
  </div>
  
  <h3>Pattern Broken Parts, smallest first</h3>
  <div class="holes flex">
  {% for hole in holes %}
    <div>
    {{ grid_pattern(hole.grid, 'piece') }}
    
    {{ hole.size }} {{ hole.edge_count }} {{ hole.edge_density }} {{ hole.density }}
    </div>
  {% endfor %}
  </div>
  <p>-------</p>
  
  <h3>Moves</h3>
  <button id="make-move">Make Move</button>
  <div id="moves"></div>
  
  
  
{% endblock %}

