body {
  background-color: #394449;
  color: #fff;
  font-family: sans-serif;
}

.board {
  width: 170px;
}
.piece {
  margin: 5px;
}

.grid {
  display: block;
}

.grid-row {
  height: 20px;
}

.grid-cell {
  float: left;
  color: pink;
  font-size: 10px;
  width: 16px;
  height: 16px;
}

.grid-small {
  .grid-row {
    height: 12px;
  }

  .grid-cell {
    width: 8px;
    height: 8px;
  }
}

.grid-cell.red {
  background-color: #F00;
  border: 2px solid #F00;
}

.grid-cell.black {
  background-color: #000;
  border: 2px solid #000;
}

.grid-cell.white {
  background-color: #FFF;
  border: 2px solid #FFF;
}

.grid-cell.pink {
  background-color: #e500ff;
  border: 2px solid #e500ff;
}

.grid-cell.light_red {
  background-color: #ffaaaa;
  border: 2px solid #ffaaaa;
}

.grid-cell.grey {
  background-color: #a5a5a5;
  border: 2px solid #a5a5a5;
}


.grid-cell.left {
  border-left: 2px solid #0f0;
}

.grid-cell.right {
  border-right: 2px solid #0f0;
}

.grid-cell.up {
  border-top: 2px solid #0f0;
}

.grid-cell.down {
  border-bottom: 2px solid #0f0;
}

.flex {
  display: flex;
}