.board {
  width: 170px;
}
.piece {
  margin: 5px 0;
}

.grid {
  display: block;
}

.grid-row {
  height: 20px;
}

.grid-cell {
  width: 16px;
  height: 16px;
  float: left;
}

.grid-cell.red {
  background-color: #F00;
  border: 2px solid #F00;
}

.grid-cell.black {
  background-color: #000;
  border: 2px solid #000;
}

.grid-cell.white {
  background-color: #FFF;
  border: 2px solid #FFF;
}


.grid-cell.left {
  border-left: 2px solid #0f0;
}

.grid-cell.right {
  border-right: 2px solid #0f0;
}

.grid-cell.up {
  border-top: 2px solid #0f0;
}

.grid-cell.down {
  border-bottom: 2px solid #0f0;
}
